In [1]:
import sys

from fastai.text import *
import fastai
print(fastai.__version__)

sys.path.append('..')
from custom_callbacks import *

1.0.51

In [2]:
fn = Path('../data/final_export')

In [13]:
learn = load_learner(fn.parent, fn.stem)

In [6]:
txt = learn.predict('', 35)

In [25]:
def create_haiku(n=35):
    
    txt = learn.predict('', n, temperature=0.5).split('xxeos')[0]
    return txt.replace('xxbos ', '')

In [26]:
create_haiku()

' If you \'re interested \n  in something , you can actually \n  view it as a " good " . \n  '

In [27]:
print(create_haiku())

 The English language
  is a very good language
  in English english .

In [28]:
def create_haikus(n=10):
    
    return '\n\n'.join([create_haiku() for _ in range(n)])

In [30]:
print(create_haikus())

 It 's been a while since
  i 've read the books , but i 've been
  trying to figure out .


 The Bible is not
  the only god that can not
  be proven guilty .


 It 's a great way , but
  i 'm glad to see the people
  who have n't seen it .


 But , i think we 'll just
  have to wait and see if you
  can find the right one .


 It 's a disappointing
  thing to say that the Browns will
  win the election .


 It 's not like they are
  the same but that 's what the current
  meta is about .


 It 's a pretty good
  idea , but it 's pretty
  much the same as mine .


 i 'm sure we 'll just go
  back to the " Just BECAUSE " part
  is a little weak .


 It 's a lot of fun
  to play it on and it takes
  some time to adjust .


 It 's pretty easy
  to get into the playoffs .
  It 's a good story .

In [31]:
print(create_haikus(3))

 The first time i was
  in a relationship , i 'd
  probably go with it .


 So we will be here
  till we get a good deal from
  the experience .


 If you 've got a great
  time , i 'd love to hear a few
  more stories from you .

In [32]:
print(create_haikus(3))

 And i 've had my hand
  in the back of my hand , but
  i 'm still not sure why .


 It 's the only thing
  i have n't had so much fun
  with the Internet .


 The thing is , you can
  get an idea about
  what you 're looking for .

In [33]:
print(create_haikus(3))

 If you do n't mind me
  asking , what 's your favorite thing
  about the person ?


 If you want to get
  the Black Knight from Germany
  then do n't be surprised .


 How do you know that ?
  Is there a reason why you
  do n't have a license ?

In [34]:
print(create_haikus(3))

 i was n't really
  sure what it was but it might
  be a good question .


 So , i do n't really
  know what to say , but it 'll be
  pretty obvious .


 If you 're interested
  in the experience , you
  can get your own work .

## Check if some of the really good generated haikus are in the training set

In [3]:
df = pd.read_csv('../data/haikus.csv')

In [4]:
df.head()

   Unnamed: 0                                               text
0           0  Can't you see how much\nbetter you make the wo...
1           1  I'm fine. I'm listening\nto music and eating l...
2           2  Your cat has no more\nmetaphysical value\nthan...
3           3  This only makes me\nwonder where else our love...
4           4  That was too easy.\nYou probably have a giant\...

In [23]:
test_str = 'the bible is'
n = len(test_str)

In [24]:
df[df.text.apply(lambda x: test_str in x.lower())]

        Unnamed: 0                                               text
14331        14331  But the Bible is\nnot God's word. It's proven ...
18980        18980  A source which agrees\nwith the bible is not f...
49022        49022  However, I do\nnot believe the Bible is\nwitho...
56193        56193  -Marketing Exec\nShow me* The bible is not\npr...
57160        57160  The bible is not.\nI don't know any Christians...
81462        81462  The Bible isn't\nfull of stories of people\ndo...
147327      147327  Uh... I don't think that's\nwhat the Bible is ...
295096      295096  Thanks for your concern!\nYou're quite kind. T...
300446      300446  Please keep me posted.\nCheers! The Bible is n...
300884      300884  how did you do it?\nThe Bible is not true. Yea...

In [25]:
df.iloc[14331, 1]

"But the Bible is\nnot God's word. It's proven false.\nForget Abraham.\n"

In [8]:
df.iloc[81462, 1]

"The Bible isn't\nfull of stories of people\ndoing for themselves.\n"

 One of the good ones:
 
 If you have the time //
 to see what the Bible says , // 
 then God will exist .

In [22]:
test_str = ' to see what the Bible says'
df[df.text.apply(lambda x: test_str in x.lower())]

Empty DataFrame
Columns: [Unnamed: 0, text]
Index: []

Another one:

 You are posting here //
 too frequently , so your post //
 has been deleted .

In [26]:
# Looks like this one has appeared a number of times during training!!!
test_str = 'you are posting here'
df[df.text.apply(lambda x: test_str in x.lower())].head()

        Unnamed: 0                                               text
282            282  You are posting here\ntoo frequently, so your ...
174674      174674  You are posting here\ntoo frequently, so your ...
190158      190158  You are posting here\ntoo frequently, so your ...
313619      313619  You are posting here\ntoo frequently, so your ...
313627      313627  You are posting here\ntoo frequently, so your ...

In [20]:
df.iloc[313777, 1]

'You are posting here\ntoo frequently, so your post\nhas been deleted.\n'

In [36]:
test_str = "a state of affairs"
df[df.text.apply(lambda x: test_str in x.lower())].head()

Empty DataFrame
Columns: [Unnamed: 0, text]
Index: []